.bg-phone {
  width: 140px;
  height: 140px;
  background: url("../assets/images/css_sprites.png") -0px -0px;
}

.bg-phone:hover {
  width: 140px;
  height: 140px;
  background: url("../assets/images/css_sprites.png") -0px -140px;
}

.bg-desing {
  width: 140px;
  height: 140px;
  background: url("../assets/images/css_sprites.png") -140px -0px;
}

.bg-desing:hover {
  width: 140px;
  height: 140px;
  background: url("../assets/images/css_sprites.png") -140px -140px;
}

.bg-development {
  width: 140px;
  height: 140px;
  background: url("../assets/images/css_sprites.png") -280px -0px;
}

.bg-development:hover {
  width: 140px;
  height: 140px;
  background: url("../assets/images/css_sprites.png") -280px -140px;
}

.bg-product {
  width: 140px;
  height: 140px;
  background: url("../assets/images/css_sprites.png") -420px -0px;
}

.bg-product:hover {
  width: 140px;
  height: 140px;
  background: url("../assets/images/css_sprites.png") -420px -140px;
}

.bg-ux {
  width: 140px;
  height: 140px;
  background: url("../assets/images/css_sprites.png") -560px -0px;
}

.bg-ux:hover {
  width: 140px;
  height: 140px;
  background: url("../assets/images/css_sprites.png") -560px -140px;
}

.bg-animations {
  width: 140px;
  height: 140px;
  background: url("../assets/images/css_sprites.png") -700px -0px;
}

.bg-animations:hover {
  width: 140px;
  height: 140px;
  background: url("../assets/images/css_sprites.png") -700px -140px;
}
