@font-face {
    font-family: 'Lato Regular';
    src: url(../assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato Black';
    src: url(../assets/fonts/Lato/Lato-Black.ttf);
}
@font-face {
    font-family: 'Lato Bold';
    src: url(../assets/fonts/Lato/Lato-Bold);
}
@font-face {
    font-family: 'Lato Light';
    src: url(../assets/fonts/Lato/Lato-Light.ttf);
}


//reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 15px;
    
    @include media ($medium) {
        width: 60%;
        margin: 50px auto 0;
    }
}